XTRADES_TOKEN=your_xtrades_token_from_localStorage
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_here
DISCORD_HEALTH_WEBHOOK_URL=https://discord.com/api/webhooks/your_health_webhook_here
DISCORD_SUMMARY_WEBHOOK_URL=https://discord.com/api/webhooks/your_summary_webhook_here
POSTGRES_PASSWORD=your_postgres_password_here
Ibkr__AccountId=your_paper_account_number_here
IBKR_ENABLED=false